<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="~/Content/Login.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Animals">Animals</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Home/AddUser">Bookings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/ViewAnimalsDB">Manage Animals</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Acts for the ocean</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/Home/Pollution">Pollution</a>
                            <a class="dropdown-item" href="/Home/ClimateChange">Climate Change</a>
                        </div>
                    </li>

                </ul>

            </div>
            
        </div>
        </nav>
   </header>
    <br />
    <br />
    @RenderBody()





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="~/Scripts/Site.js"></script>
    <script src="~/Scripts/Login.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
