@model HW04.Models.User

@{
    ViewBag.Message = "Something";
}

<section class="showcase">


    <div class="container" style="z-index:10; background-color:floralwhite; opacity:0.7">
        <h2>Add User</h2>
        @using (Html.BeginForm("AddUser", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <form class="col-6">
                <h4>User</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NumOfTickets, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NumOfTickets, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NumOfTickets, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.rDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.rDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.rDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div>
                    <button type="submit" class="name noselect">Add Animal</button>

                </div>
            </form>


        }

        <div>
            @Html.ActionLink("View List", "ViewUsers")
        </div>
    </div>

    <video class="vidbg" src="~/Video/Aquarium.mp4" muted loop autoplay></video>
    <div class="overlay"></div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
